<div >
	<form id="form-segment" class="row was-validated needs-validation" >
		<div class="col-sm-12 text-center ">
			<h1>Rette presenti</h1>
		</div>
		<div class="row">
			<div class="col-sm-6 ">
				<label for="nrpoint-id" class="form-label">Punti presenti nella retta</label>
				<input class="form-control" type="number"  value="2" id="nrpoint-id" min="2" placeholder="nr punti per retta" required/>
				<div class="invalid-feedback">
					Inserire i punti presenti nella retta
				</div>
			</div>
		</div>
	</form>
	<div class="row">
		<div class="col-sm-2 ">
			<button class="btn btn-success" id="findsegment-id" >Trova le rette</button>
		</div>
	</div>
	<div class="row">
		<p id="msgsegment-id"/>
	</div>
</div>
